/* color palette from <https://github.com/vuejs/theme> */
:root {
  --background-header-color : #c20000;
}

/* semantic color variables for this project */
:root {
  --color-background-header: var(--background-header-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  font-family: Roboto, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
